node_modules/
video/build/
video-iot/build/
*.log
video-hrms/build/
video-txng/build/
slides-template/assets/images/build/
slides-template/assets/icons/png/
slides-template/assets/glow/
slides-template/models/
slides-template/.cache/
__pycache__/
video-ai/build/
video-ai/voice/
video-hrms3/build/
video-stp/build/
video-atld/build/
